.title {
  text-transform: uppercase;
  text-align: center;
  color: #192431;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.statistics {
  width: 250px;
  margin: 0 auto;
  padding: 50px 20px;
}

.stat-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  text-align: center;
  font-size: 16px;
  color: #f3f3f3;
  width: 50px;
  padding: 10px 5px;
}